<nav>
    <span class="logo" alt="BlogHub Logo" (click)="homePressed()"></span>

    <span class="welcome-message" *ngIf="currentUser">{{
        "Welcome back, " + currentUser.username
    }}</span>

    <ng-container *ngIf="isLogged; else loggedOut">
        <agv-primary-button
            [customStyle]="style"
            (press)="createPressed()"
            name="Create"
        />
        <agv-secondary-button
            [customStyle]="style"
            (press)="logoutPressed()"
            name="Log out"
        />
        <span
            class="profile-icon"
            alt="Profile Icon"
            (click)="profilePressed()"
        ></span>
    </ng-container>
    <ng-template #loggedOut>
        <agv-primary-button
            [customStyle]="style"
            (press)="loginPressed()"
            name="Sign up or Log in"
        />
    </ng-template>
</nav>
