:host {
    display: flex;
    flex-direction: column;
    min-width: 332px;
    max-width: 850px;
    margin: 20px 10px;
    padding: 20px;
    background-color: var(--secondary-color);

    .header {
        border-bottom: 1px solid var(--primary-color);
        padding-bottom: 5px;
    }
}
