<section class="header">
    <h1>{{ post.title }}</h1>
    <span>{{ "Created on " + (post.createdDate | date) + " " }}</span>
    <span>{{ "by " + post.username }}</span>
</section>
<section>
    <p *ngIf="!simpleView">{{ post.description }}</p>
    <div class="footer">
        <span
            *ngIf="showLikeButton"
            (click)="onLike(); $event.stopPropagation()"
            class="heart-icon"
            [ngClass]="{
                'heart-icon--liked': post.liked,
                'heart-icon--unliked': !post.liked
            }"
        ></span>
        <span>{{ "Likes: " + post.likes_count }}</span>
    </div>
</section>
