/* You can add global styles to this file, and also import other style files */
:root {
    --primary-color: #000;
    --secondary-color: #fff;
    --error-color: rgb(143, 0, 0);
}

* {
    font-family: monospace;
}
